{% extends "base.html" %} {% block title %}Admin{% endblock %}
{% block content %}
    <div class="header" id="myHeader">
        <h2>Admin - Displays</h2>
    </div>
    <div>
        <form method="POST">
            <fieldset>
                <input type="radio" id="users" name="setup" value="users" onclick="window.location.href='/adminUsers';">
                <label for="users">Users</label>
                <input type="radio" id="shops" name="setup" value="shops" onclick="window.location.href='/adminShops';">
                <label for="shops">Shops</label>
                <input type="radio" id="displays" name="setup" value="displays" checked="checked">
                <label for="displays">Displays</label>
            </fieldset>
        </form>
    </div>
    <div>
        <h3>All Displays</h3>
        <button type="button" onclick="window.location.href='/adminDisplaysAddNew';">Add a new Display</button>
        <table>
            <thead>
                <tr>
                    <th>Display ID</th>
                    <th>Shop ID</th>
                    <th>Shop Name</th>
                </tr>
            </thead>
            <tbody>
            {% for display in displays %}
                {#Sets the row as selectable and on click redirects the user to the adminDisplayEdit page with a GET header being the displayID#}
                <tr onclick="window.location.href='/adminDisplayEdit/{{ display.displayID }}';" name="{{ display.displayID }}">
                    <td>{{ display.displayID }}</td>
                    <td>{{ display.shopID }}</td>
                    <td>{{ display.shops.shopName }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}