{% extends "base.html" %} {% block title %}Items{% endblock %}
{% block content %}
    <div class="header" id="myHeader">
        <h2>Items</h2>
        <nav>
            <ul>
                <li><a href='/adsMedia'>Advertisements</a></li>
                <li><a href='/home'>Home</a></li>
                <li><a href='/profile'>Profile</a></li>
{#                <li><a href='grid.html'>Grid Layout</a></li>#}
            </ul>
        </nav>
    </div>
    <div>
    <h3>All Items</h3>
        <button type="button" onclick="window.location.href='/itemAddNew';">Add a new Item</button>
        <div>
            <table>
                <thead>
                    <tr>
                    <th>Item Name</th>
                    <th>Item Price</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr onclick="window.location.href='/itemEdit/{{ item.itemID }}';" name="{{ item.itemID }}">
                        <td>{{ item.itemName }}</td>
                        <td>{{ item.itemPrice }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}