{% extends "base.html" %} {% block title %}Menu Setup{% endblock %}
{% block content %}
    <form method="POST" action="{{ url_for('displays.menuSetupEdit', shopMenu_id=shopMenu.shopMenuID) }}">
        <input type="hidden" name="form_type" value="menu_setup_edit">
        <input type="hidden" name="shopMenuID" value="{{ shopMenu.shopMenuID }}">
        <div class="form-group">
            <label for="newMenuTitle">Menu Title:</label>
            <input type="text" class="form-control" id="newMenuTitle" name="newMenuTitle" value="{{ shopMenu.menuTitle }}">
        </div>
        <div class="form-group">
            <label for="newMenuTypeID">Menu Type:</label>
            <input type="text" class="form-control" id="newMenuTypeID" name="newMenuTypeID" value="{{ shopMenu.menuTypeID }}">
        </div>
        <div class="form-group">
            <label for="newMenuStartTime">Menu Start Time:</label>
            <input type="time" class="form-control" id="newMenuStartTime" name="newMenuStartTime" value="{{ shopMenu.menuStartTime }}">
        </div>
        <div class="form-group">
            <label for="newMenuFinishTime">Menu Finish Time:</label>
            <input type="time" class="form-control" id="newMenuFinishTime" name="newMenuFinishTime" value="{{ shopMenu.menuFinishTime }}">
        </div>
        <div class="form-group">
            <label for="newMenuActive_alt">Menu Active:</label>
            <input type="checkbox" class="form-control" id="newMenuActive_alt" name="newMenuActive_alt" {% if shopMenu.menuActive %}checked{% endif %}>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    {% if shopMenu.menuTypeID == 1 %}
        <form method="POST" action="{{ url_for('displays.menuSetupEdit', shopMenu_id=shopMenu.shopMenuID) }}">
            <input type="hidden" name="form_type" value="add_menu_item">
            <select name="item">
                {% for item in items %}
                    <option value="{{ item.itemID }}">{{ item.itemName }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Add Item">
        </form>
    <div>
    <h3>Group 1 List</h3>
        <table>
            <thead>
                <tr>
                <th>Item Name</th>
                </tr>
            </thead>
            <tbody>
            {% for menuItem in menuItems %}
{#                <tr onclick="window.location.href='/itemEdit/{{ item.itemID }}';" name="{{ item.itemID }}">#}
                    <td>{{ menuItem.itemID }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{#        <br><button id="add-item-button">Add Another Item</button>#}
{#        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>#}
{#        <script>#}
{#            $(document).ready(function() {#}
{#            $('#add-item-button').click(function() {#}
{#                var select = $('<select>').attr('name', 'item');#}
{#                var option = $('<option>').attr('value', '').text('-- Select an Item --');#}
{#                select.append(option);#}
{#                {% for item in items %}#}
{#                    var option = $('<option>').attr('value', '{{ item.itemID }}').text('{{ item.itemName }}');#}
{#                    select.append(option);#}
{##}
{#                {% endfor %}#}
{#                $('#new-item-container').append(select);#}
{#            });#}
{#            });#}
{#        </script>#}
    {% endif %}
{% endblock %}


