{% extends "base.html" %} {% block title %}Profile{% endblock %}
{% block content %}
    <div class="header" id="myHeader">
        <h2>Profile</h2>
    </div>

    <div>
        <h3>Profile data</h3>
        <form action="/profile_edit" method="POST">
            <button type="submit">SAVE</button>
            <button type="reset" onclick="window.location.href='/profile';">CANCEL</button>
            <article>
                <table>
                    <tr>
                        <th>First Name: </th>
                        <td>
                            <input
                              type="firstName"
                              class="form-control"
                              id="newFirstName"
                              name="newFirstName"
                              value = {{ user.firstName }}>
                        </td>
                    </tr>
                    <tr>
                        <th>Last Name: </th>
                        <td>
                            <input
                              type="lastName"
                              class="form-control"
                              id="newLastName"
                              name="newLastName"
                              value = {{ user.lastName }}>
                        </td>
                    </tr>
                    <tr>
                        <th>Email: </th>
                        <td>
                            <input
                              type="email"
                              class="form-control"
                              id="newEmail"
                              name="newEmail"
                              value = {{ user.email }}>
                        </td>
                    </tr>
                    <tr>
                        <th>Phone: </th>
                        <td>
                            <input
                              type="phone"
                              class="form-control"
                              id="newPhone"
                              name="newPhone"
                              value = {{ user.phone }}>
                        </td>
                    </tr>
                </table>
            </article>
        </form>
    </div>
{% endblock %}