{% extends "base.html" %} {% block title %}Profile{% endblock %}
{% block content %}
    <div class="header" id="myHeader">
        <h2>Profile</h2>
    </div>
    {% block displaySetup %}
    <div>
        <button type="button" onclick="window.location.href='/profile_edit';">Edit</button>
        <div id="profileTable">
            <table>
                <tr>
                    <th class="rowHeader">First Name: </th>
                    <td class="col1">{{ user.firstName }} </td>
                </tr>
                <tr>
                    <th class="rowHeader">Last Name: </th>
                    <td class="col1">{{ user.lastName }}</td>
                </tr>
                <tr>
                    <th class="rowHeader">Email: </th>
                    <td class="col1">{{ user.email }}</td>
                </tr>
                <tr>
                    <th class="rowHeader">Phone: </th>
                    <td class="col1">{{ user.phone }}</td>
                </tr>
                <tr>
                    <th class="col1"><h3>Linked Shops</h3></th>
                    <td>
                        {% for userShop in userShops %}
                            <tr>
                                <td>
                                    {{ userShop.shopName }} {{ userShop.shopAddress }}
                                </td>
                            </tr>
                            <tr>
                                <th>Displays</th>
                                    {% for display in userShop.displays %}
                                        <td onclick="window.location.href='/menuSetup/{{ display.displayID }}';" name="{{ display.displayID }}">
                                            {{ display.displayID }}
                                        </td>
                                    {% endfor %}
                            </tr>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    {% endblock %}
{% endblock %}